SDK_TYPE=
SDK_PROJECT_ID=
SDK_PRIVATE_KEY_ID=
SDK_PRIVATE_KEY=
SDK_CLIENT_EMAIL=
SDK_CLIENT_ID=
SDK_AUTH_URI=
SDK_TOKEN_URI=
SDK_AUTH_PROVIDER_X509_CERT_URL=
SDK_CLIENT_X509_CERT_URL=
FIREBASE_API_KEY=